* {
	outline: none;
	box-sizing: border-box
}

body,
html {
	height: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	margin: 0
}

body {
	position: relative;
	min-width: 300px;
	display: flex;
	height: auto;
	font-family: $ff;
	font-size: $fs-md;
	line-height: $lh;
	color: $black;
	background-color: $bg
}

img {
	display: block;
	max-width: 100%;
	height: auto
}

ul {
	margin: 0;
	padding: 0;
	list-style: none
}

fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}

label {
	color: #B3BAFC;
	text-align: center;
	font-family: $ff;
	font-size: 34.721px;
	font-style: normal;
	font-weight: $fw-regular;
	line-height: 180%;
}

input {
	color: #767FCC;
	font-family: $ff;
	font-size: 23.712px;
	font-style: normal;
	font-weight: $fw-regular;
	line-height: 180%;
	background-color: #383284a6;
	border: 0;
	padding: 13px 13px 13px 33px;
	border-radius: 9px;
	transition: box-shadow ease $tr;


	&::placeholder {
		color: #767FCC;
		font-family: $ff;
		font-size: 23.712px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: 180%;
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 0 3px $accent;
	}
}

textarea {
	border: 0;
	color: #767FCC;
	font-family: $ff;
	font-size: 23.712px;
	font-style: normal;
	font-weight: $fw-regular;
	line-height: 180%;
	margin: 0;
	padding: 0;
	resize: none;
	background-color: #383284a6;
	padding: 13px 13px 13px 33px;
	border-radius: 9px;
	transition: box-shadow ease $tr;

	&:focus {
		outline: none;
		box-shadow: 0 0 0 3px $accent;
	}
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	background-image: url('../img/bg.gif');
	background-repeat: no-repeat;
	background-size: cover;

	.footer {
		margin-top: auto
	}
}

.frame {
	width: 100%;
	height: 100%;
	background-size: cover;
	border-radius: 20px;

	&-wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		background-color: $black;
		cursor: pointer;
		border-radius: 20px;
	}

	iframe {
		width: 100%;
		height: 100%;
		background: $black;
		border-radius: 20px;
	}

	.lazyframe__title {
		display: none;
	}
}