.portfolio {
	padding: 140px 0 20px;

	@media all and (min-width: $lg) {
		padding: 200px 0 20px;
	}

	.container {
		max-width: 1600px;
	}

	.h1, .h2 {
		font-family: $ff;
		font-size: 18px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: normal;
		text-transform: uppercase;
		margin-bottom: 13px;
		color: $accent;

		@media all and (min-width: $md) {
			font-size: 49px;
		}
	}

	&__buttons {
        padding: 18px;
		width: 100%;
        max-width: 700px;
        display: flex;
		justify-content: space-between;
        border-radius: 30px;
        background-color: rgba(116, 112, 253, 0.31);
        backdrop-filter: blur(8.5px);
        margin: 0 auto 73px auto;
    }

	&__items {
		padding: 0 5%;

		display: none;

		&.active {
			animation: fade 2s forwards ease;
			display: block;

			@keyframes fade {
				0% {
					display: none;
					transform: translateX(-130%);
					opacity: 0;
					filter: brightness(50%);
				}

				1% {
					display: block;
				}

				25% {
				}

				50% {
					filter: brightness(200%);
				}

				100% {
					opacity: 1;
					transform: translateX(0);
					filter: brightness(100%);
				}
			}
		}
	}

	&__item {
		&_videos {
			display: flex;
            justify-content: center;
			flex-wrap: wrap;
            gap: 20px;

            @media all and (min-width: $md) {
                gap: 50px 100px;
            }

            .featured__item {
                width: calc(50% - 20px);
                height: 150px;

                @media all and (min-width: $md) {
                    width: calc(50% - 100px);
                    height: 250px;
                }
            }

            &.shortform {
                gap: 30px;

                @media all and (min-width: $xxl) {
                    gap: 50px 150px;
                }

                .featured__item {
                    width: calc(50% - 30px);
                    height: 250px;

                    @media all and (min-width: $xxl) {
                        width: calc(33.333% - 150px);
                        height: 450px;
                    }
                }  
            }
		}
	}

	.portfolio__button {
		border: 0;
		background-color: transparent;
		padding: 4px 11px;
		color: $white;
		font-family: $ff;
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		cursor: pointer;
        border-radius: 20px;
        transition: background-color ease $tr;

        @media all and (min-width: $sm) {
            font-size: 20px;
        }

		@media all and (min-width: $xl) {
			font-size: 23px;
		}

		@media all and (min-width: $xxl) {
			font-size: 29px;
		}

		&.active {
            background-color: #4B47D5;
		}
	}
}