.portfolio {
	padding: 140px 0 20px;

	@media all and (min-width: $lg) {
		padding: 200px 0 20px;
	}

	.container {
		max-width: 1600px;
	}

	.h1, .h2 {
		font-family: $ff;
		font-size: 18px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: normal;
		text-transform: uppercase;
		margin-bottom: 13px;
		color: $accent;

		@media all and (min-width: $md) {
			font-size: 49px;
		}
	}

	.h2 {
		margin-top: 70px;

		@media all and (min-width: $xl) {
			margin-top: 142px;
		}

		&:first-child {
			margin-top: 0;
		}
	}

	&__buttons {
		width: 100%;
		justify-content: space-between;
		margin-bottom: 73px;
		display: none;

		@media all and (min-width: $lg) {
			display: flex;
		}
	}

	&__items {
		padding: 0 5%;

		display: none;

		&.active {
			animation: fade 2s forwards ease;
			display: block;

			@keyframes fade {
				0% {
					display: none;
					transform: translateX(-130%);
					opacity: 0;
					filter: brightness(50%);
				}

				1% {
					display: block;
				}

				25% {
				}

				50% {
					filter: brightness(200%);
				}

				100% {
					opacity: 1;
					transform: translateX(0);
					filter: brightness(100%);
				}
			}
		}
	}

	&__item {
		&_videos {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -14px;

			&.shorts {
				width: 100%;

				.featured__item{
					width: calc(100% / 3);
					height: 200px;

					@media all and (min-width: 576px) {
						height: 348px;
					}

					@media all and (min-width: $xl) {
						width: calc(100% / 6);
					}
				}
			}
		}
	}

	.portfolio__button {
		border: 0;
		background-color: transparent;
		padding: 4px 11px;
		color: #898CF9;
		font-family: Red Hat Display;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		cursor: pointer;

		@media all and (min-width: $xl) {
			font-size: 23px;
		}

		@media all and (min-width: $xxl) {
			font-size: 29px;
		}

		&.active {
			box-shadow: 0px 2px 17px 0px #5652BD;
			background: linear-gradient(180deg, #5F5CCC 0%, #35328A 99.99%, #6D6ABE 100%);
			animation: box 1s forwards ease;
			
			@keyframes box {
				0% {
					border-radius: 0;
				}

				100% {
					border-radius: 30px;
				}
			}
		}
	}

	.swiper {
		height: 50px;
		margin-bottom: 30px;

		@media all and (min-width: $lg) {
			display: none;
		}
		
		.portfolio__button {
			font-size: 11px;
			height: 29px;

			@media all and (min-width: $sm) {
				font-size: 15px;
			}

			@media all and (min-width: 576px) {
				font-size: 18px;
			}

			@media all and (min-width: $md) {
				font-size: 21px;
			}

			&.active {
				box-shadow: 0px 2px 7px 0px #5652BD;
			}
		}

		.swiper-slide {
			padding: 0 20px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.swiper-prev {
			position: absolute;
			left: 0;
			top: 0;
			z-index: 90;
			cursor: pointer;
		}

		.swiper-next {
			position: absolute;
			right: 0;
			top: 0;
			z-index: 90;
			cursor: pointer;
		}
	}
}