.about__hero {
	padding: 150px 0 10px;

	@media all and (min-width: $sm) {
		padding: 200px 0 10px;
	}

	@media all and (min-width: $xl) {
		padding: 100px 0 10px;
	}

	.h1 {
		font-family: $ff;
		font-size: 33px;
		font-style: normal;
		font-weight: $fw-bold;
		line-height: normaz;
		text-transform: uppercase;
		position: relative;
		margin-bottom: 10px;
		text-align: left;
		animation: abouth1 1s forwards linear;

		@keyframes abouth1 {
			0% {
				opacity: 0;
			}

			100% {
				opacity: 1;
			}
		}

		@media all and (min-width: $sm) {
			font-size: 58px;
			margin-bottom: 20px;
		}

		@media all and (min-width: 558px) {
			margin-bottom: 30px;
		}

		@media all and (min-width: $lg) {
			font-size: 77.09px;
		}

		@media all and (min-width: $xl) {
			margin-bottom: 0;
            font-size: 128px;
		}
	}

	&_wrapper {
		display: flex;
		position: relative;
	}

	&_info {
		max-width: 1100px;

		@media all and (min-width: $xl) {
			max-width: 800px;
		}

		@media all and (min-width: 1700px) {
			max-width: 1100px;
		}
	}

	.about__info_text {
		color: #98A1F7;
		font-family: $ff;
		font-size: 14px;
		font-style: normal;
		font-weight: $fw-medium;
		line-height: 180%;
		letter-spacing: 0.286px;
		animation: about 1s forwards linear;

		@keyframes about {
			0% {
				scale: 0;
			}

			100% {
				scale: 1;
			}
		}

		@media all and (min-width: $sm) {
			font-size: 20px;
		}

        @media all and (min-width: $md) {
			font-size: 30px;
		}
	}
}