.featured {
	padding: 50px 0 20px;

	@media all and (min-width: $lg) {
		padding: 100px 0;
	}

	&.scrolled {
		.h2 {
			animation: featuredTitle 2s forwards linear;

			@keyframes featuredTitle {
				0% {
					opacity: 0;
				}

				100% {
					opacity: 1;
				}
			}
		}

		.featured__item {
			&:first-child {
				animation: move1 0.7s forwards linear;

				@keyframes move1 {
					0% {
						transform: translateX(-100%);
					}

					100% {
						transform: translateX(0);
					}
				}
			}

			&:nth-child(2) {
				animation: move2 1s forwards linear;

				@keyframes move2 {
					0% {
						transform: translateY(-100%);
					}

					100% {
						transform: translateY(0);
					}
				}
			}

			&:nth-child(3) {
				animation: move3 1.5s forwards linear;

				@keyframes move3 {
					0% {
						transform: translateX(100%);
					}

					100% {
						transform: translateX(0);
					}
				}
			}

			&:nth-child(4) {
				animation: move4 1.2s forwards linear;

				@keyframes move4 {
					0% {
						transform: translateX(-100%);
					}

					100% {
						transform: translateX(0);
					}
				}
			}

			&:nth-child(5) {
				animation: move5 1s forwards linear;

				@keyframes move5 {
					0% {
						transform: translateY(100%);
					}

					100% {
						transform: translateY(0);
					}
				}
			}

			&:last-child {
				animation: move6 0.8s forwards linear;

				@keyframes move6 {
					0% {
						transform: translateX(100%);
					}

					100% {
						transform: translateX(0);
					}
				}
			}
		}
	}

	.container {
		max-width: 1480px;
	}

	.h2 {
		font-family: $ff-title;
		font-size: 40px;
		font-weight: $fw-bold;
		line-height: 60px;
		letter-spacing: 0em;
		text-align: center;
		color: #8E98F5;
		margin-bottom: 30px;

		@media all and (min-width: $lg) {
			font-size: 143px;
			line-height: 175px;
		}
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -5px;

		@media all and (min-width: $md) {
			margin: 0 -13px;
		}

		&_wrapper {
			margin: 0 auto;
			max-width: 1300px;
		}
	}

	&__item {
		padding: 0 5px;
		width: calc(100% / 2);
		height: 110px;
		border-radius: 20px;
		margin-bottom: 26px;

		@media all and (min-width: 576px) {
			height: 235px;
		}

		@media all and (min-width: $md) {
			width: calc(100% / 3);
			padding: 0 13px;
		}

		&_text {
			display: none;
			font-family: $ff-title;
			font-size: 20px;
			font-weight: $fw-bold;
			letter-spacing: 0em;
			text-align: center;
			color: #f5f5f5;
			text-align: center;
		}
	}
}