.featured {
	padding: 50px 0 20px;

	@media all and (min-width: $lg) {
		padding: 100px 0;
	}

	.container {
		max-width: 1480px;
	}

	.h2 {
		font-family: $ff-title;
		font-size: 40px;
		font-weight: $fw-bold;
		line-height: 60px;
		letter-spacing: 0em;
		text-align: center;
		color: #8E98F5;
		margin-bottom: 30px;

		@media all and (min-width: $md) {
			font-size: 143px;
			line-height: 175px;
		}
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -5px;

		@media all and (min-width: $md) {
			margin: 0 -13px;
		}

		&_wrapper {
			margin: 0 auto;
			max-width: 1300px;
		}
	}

	&__item {
		padding: 0 5px;
		width: calc(100% / 2);
		height: 110px;
		border-radius: 20px;
		margin-bottom: 26px;

		@media all and (min-width: 576px) {
			height: 235px;
		}

		@media all and (min-width: $md) {
			width: calc(100% / 3);
			padding: 0 13px;
		}

		&_text {
			display: none;
			font-family: $ff-title;
			font-size: 20px;
			font-weight: $fw-bold;
			letter-spacing: 0em;
			text-align: center;
			color: #f5f5f5;
			text-align: center;
		}
	}
}