.help {
	padding: 100px 0 600px;

	.h2 {
		font-family: $ff-title;
		font-size: 73.065px;
		font-style: normal;
		font-weight: $fw-bold;
		line-height: normal;
		text-transform: uppercase;
		color: #8E98F5;
	}

	&__text {
		color: rgba(255, 255, 255, 0.50);
		font-family: $ff;
		font-size: 22.635px;
		font-style: normal;
		font-weight: $fw-medium;
		line-height: 180%;
		letter-spacing: 0.34px;
		max-width: 675px;
	}

	&__wrapper {
		display: flex;
	}

	&__info {
		width: 50%;

		.help__cards {
			position: relative;

			.help__card {
				position: absolute;

				&:first-child {
					left: -1.56vw;
					top: 5.21vw;
				}

				&:nth-child(2) {
					left: 16.67vw;
					top: 2.6vw;
				}

				&:nth-child(3) {
					left: 7.81vw;
					top: 18.23vw;
				}

				&:last-child {
					left: 27.08vw;
					top: 17.71vw;
				}
			}
		}
	}

	&__cards {
		width: 50%;
		position: relative;

		.help__card {
			position: absolute;

			&:first-child {
				right: 1.56vw;
				top: -5.21vw;
			}

			&:nth-child(2) {
				left: 2.6vw;
				top: 7.29vw;
			}

			&:nth-child(3) {
				right: -1.04vw;
				top: 13.02vw;
			}

			&:nth-child(4) {
				left: 4.17vw;
				top: 23.44vw;
			}

			&:nth-child(5) {
				right: -5.21vw;
				top: 26.04vw;
			}

			&:last-child {
				left: 13.02vw;
				top: 38.54vw;
			}
		}
	}



	&__card {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 250px;
		height: 190px;
		padding: 10px;
		background-color: #383284a6;
		border-radius: 16px;

		&_title {
			color: #B3BAFC;
			text-align: center;
			font-family: $ff;
			font-size: 30.364px;
			font-style: normal;
			font-weight: $fw-regular;
			line-height: 180%;
		}
	}
}