.hero {
	padding: 150px 0 50px;

	@media all and (min-width: $lg) {
		padding: 100px 0 50px;
	}

	&__wrapper {
		display: flex;
        flex-direction: column;
		align-items: center;
		position: relative;

		@media all and (min-width: $md) {
			flex-direction: row;
            justify-content: space-between;
		}
	}

	&__info {
		width: 100%;
		animation: info 1s forwards linear;

		@keyframes info {
			0% {
				transform: translateX(-100%);
			}

			100% {
				transform: translateX(0);
			}
		}

		@media all and (min-width: $md) {
			width: 54%;
			padding-top: 9%;
		}
	}

	&__img {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        animation: heroOn 1.5s forwards ease;

        @keyframes heroOn {
            0% {
                transform: translateY(-100%);
            }

            100% {
                transform: translateY(0);
            }
        }

        .author__img {
            width: 50vw;

            @media all and (min-width: $md) {
                padding-bottom: 37%;
                width: 100%;
                height: 100%;
            }
        }

        &_wrapper {
            position: relative;
            width: 100%;
            max-width: 460px;

            &:hover {
                .blob {
                    scale: 1.05;
                    filter: blur(50px);
                }

                img {
                    filter: brightness(110%);
                }

                .hero__img_item {
                    scale: 1.2;
                }
            }
        }

        .blob {
            width: 40vw;
            position: absolute;
            top: 3%;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            transition: transform ease $tr, scale ease $tr, filter ease 1s;

            @media all and (min-width: $md) {
                width: 80%;
                height: 50%;
                top: 3%;
                left: 14%;
                transform: translateX(0);
            }  
        }

        &_item {
            position: absolute;
            transition: scale ease $tr;

            &.first-item {
                width: 85px;
                height: 72px;
                left: 3%;
                top: 50%;

                @media all and (min-width: 576px) {
                    width: 125px;
                    height: 90px;
                    left: -10%;
                    bottom: 12%;      
                    top: auto;    
                }

                @media all and (min-width: $md) {
                    left: 0;
                    bottom: 0;      
                }

                @media all and (min-width: $xl) {
                    width: 155px;
                    height: 120px;
                    left: 20%;
                    bottom: 12%;          
                }
            }

            &.second-item {
                width: 93px;
                height: 87px;
                right: 3%;
                top: 50%;

                @media all and (min-width: 576px) {
                    width: 143px;
                    height: 123px;    
                    right: -10%;
                    top: auto;
                    bottom: 12%;
                }

                @media all and (min-width: $md) {
                    right: 0;
                    top: auto;
                    bottom: 0;
                }

                @media all and (min-width: $xl) {
                    width: 183px;
                    height: 153px;    
                    right: 8px;
                    bottom: 12%;
                }
            }
        }
	}

	.h1 {
		margin-bottom: 10px;

		@media all and (min-width: $md) {
			margin-bottom: 40px;
		}
	}

	.h3 {
		font-family: $ff-title;
		font-size: 18px;
		font-weight: $fw-bold;
		line-height: 43px;
		letter-spacing: 0em;
		text-align: left;
		color: #8E98F5;
		margin-bottom: 10px;

		@media all and (min-width: $lg) {
			font-size: 43px;
			margin-bottom: 20px;
		}
	}

	&__text {
		font-family: $ff-title;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: center;
		color: #8E98F5;

		@media all and (min-width: $sm) {
			font-size: 24px;
			line-height: 39px;
		}

		@media all and (min-width: $md) {
			text-align: left;
		}
	}
}