.hero {
	padding: 150px 0 50px;

	@media all and (min-width: $lg) {
		padding: 100px 0 50px;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		position: relative;

		@media all and (min-width: 558px) {
			flex-direction: column;
		}

		@media all and (min-width: $md) {
			flex-direction: row;
		}
	}

	&__info {
		width: 100%;
		animation: info 1s forwards linear;

		@keyframes info {
			0% {
				transform: translateX(-100%);
			}

			100% {
				transform: translateX(0);
			}
		}

		@media all and (min-width: $md) {
			width: 54%;
			padding-top: 9%;
		}
	}

	&__img {
		width: 130px;
		position: absolute;
		right: -30px;
		top: 5px;

		animation: img 1s forwards linear;

		@keyframes img {
			0% {
				scale: 0;
			}

			100% {
				scale: 1;
			}
		}

		@media all and (min-width: 380px) {
			width: 200px;
			right: -40px;
			top: -40px;
		}

		@media all and (min-width: $sm) {
			width: 300px;
			right: -50px;
			top: -120px;
		}

		@media all and (min-width: 558px) {
			position: static;
			width: 100%;
		}

		img {
			@media all and (min-width: $xxl) {
				max-width: 130%;
			}
		}

		@media all and (min-width: $md) {
			width: 46%;
		}
	}

	.h1 {
		margin-bottom: 10px;

		@media all and (min-width: $md) {
			margin-bottom: 40px;
		}
	}

	.h3 {
		font-family: $ff-title;
		font-size: 18px;
		font-weight: $fw-bold;
		line-height: 43px;
		letter-spacing: 0em;
		text-align: left;
		color: #8E98F5;
		margin-bottom: 10px;

		@media all and (min-width: $lg) {
			font-size: 43px;
			margin-bottom: 20px;
		}
	}

	&__text {
		font-family: $ff-title;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: center;
		color: #8E98F5;

		@media all and (min-width: $sm) {
			font-size: 24px;
			line-height: 39px;
		}

		@media all and (min-width: $md) {
			text-align: left;
		}
	}
}