.header {
	position: fixed;
	left: 0;
	top: 45px;
	width: 100vw;
	z-index: 100;

	.container {
		display: flex;
		justify-content: center;
	}

	&.scrolled {
		.header__wrapper {
			background-color: rgba(17, 21, 39, 0.39);
			backdrop-filter: blur(20px) saturate(1.7);
			box-shadow: 1px 1px 3px rgba(17, 17, 17, 0.479);
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 600px;
		padding: 20px 30px;
		border-radius: 20px;
		transition: background-color ease $tr,
					backdrop-filter ease $tr,
					box-shadow ease $tr;
	}

	&__logo {
		width: 90px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		transition: opacity ease $tr;

		&:hover {
			opacity: $op;
		}
	}

	&__nav {
		display: flex;
		align-items: center;

		&_left {
			display: flex;
			margin-right: auto;
			.nav__link {
				&:last-child {
					margin-left: auto;
				}
			}
		}

		&_right {
			display: flex;
		}
	}

	.nav__link {
		font-family: $ff-title;
		font-weight: $fw-medium;
		text-transform: uppercase;
		font-size: 20px;
		line-height: 20px;
		color: #898CF9;
		transition: opacity ease $tr;
		margin-right: 30px;

		&:last-child {
			margin-right: 0;
		}

		&.active {
			color: #B1CBFA;
		}

		&:hover {
			opacity: $op;
		}
	}
}